<div class="bg-white m-3 p-2">
  <h1>RECIPES FOR <%= @category.name%></h1>
    <% @recipes.each do |recipe| %>
      <div class="col-3">
      <%= link_to recipe_path(recipe), class:"card rounded-1 m-3 text-decoration-none" do %>
          <h5 class="text-center"><%= recipe.name %></h5>
          <%= cl_image_tag recipe.photo.key, class: "card-img img-fluid", height: 200, width: 300, crop: :fill %>
      <% end %>
      </div>
    <% end %>
</div>
