<div class="bg-white m-3 p-2">
  <h1>Cookbook for <%= @user.username %></h1>
  <div class="m-3 p-2">
    <div class="row">
      <% @user.recipes.each do |recipe| %>
        <%= render "recipes/index_card", recipe: recipe %>
      <% end %>
      <div class="col-3">
        <%= link_to new_recipe_path, class:"card border-0 bg-white h-100 text-decoration-none" do %>
          <h6 class="card-body align-items-center d-flex justify-content-center text-muted">
            <%= icon "fa", "circle-plus", class: "me-1 small" %>Add a recipe
          </h6>
        <% end %>
      </div>
    </div>
  </div>
</div>
