<div class="bg-white m-3 p-2">
  <h1>Recipe Page for <%= @user.username %></h1>

  <% @user.categories.each do |category| %>
    <%= category.name %>
  <% end %>

  <% @user.recipes.each do |recipe| %>
    <%= recipe.name %>
  <% end %>
</div>
