<div class="row gx-0">
  <div class="col-4 m-0">
    <div class="bg-primary h-100">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="column text-center">
          <h1 class="text-white">Resize your recipes</h1>
          <h1 class="text-white">Cook only what you need</h1>
          <%= link_to "Start", categories_path, class:"btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="banner m-0" style="background-image: url(https://images.unsplash.com/photo-1526046881250-dbec3e06414c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);">
    </div>
  </div>
</div>
