<div class="bg-white m-3 p-3 h1">
  <h1>Categories</h1>
  <div class="row">
    <% @categories.each do |category| %>
      <%= render "categories/index_card", category: category %>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <div class="bg-white m-3 p-3">
    <div class="col-6">
      <%= link_to "Your Cookbook page", user_path, class: "btn btn-info" %>
    </div>
  </div>
<% end %>
